{% extends "layout.html" %} {% load static %} {% block content %}
<div class="row">
    <div class="col s12">
        <div class="article">
            <h3>{{ article.title }}</h3>
            <p> {{ article.body }}</p>
            <div class="valign-wrapper">
                <div class="chip">{{ article.created_at }}</div>
                <div class="chip">{{ article.category }}</div>
                <form action="/article/favourite/{{article.id}}/" method="POST">
                        <div class="chip">
                            {% csrf_token %}
                            <button type="submit">
                                {% if  is_favourite %}
                                <div class="valign-wrapper">
                                    <i class="material-icons">favorite</i>
                                    <span>125</span>
                                </div>
                                {% else %}
                                <div class="valign-wrapper">
                                        <i class="material-icons fav-pink">favorite</i>
                                        <span>125</span>
                                </div>
                                {% endif %}
                            </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- COMMENT SECTION -->
<div class="row">
    <div class="col s8 offset-s1">



        <!-- MAIN ADD COMMENT -->
        <div class="col right">
            <form action="/article/comment/{{ article.id }}/" method="POST">
                {% csrf_token %} {{ form_comment.body }}
                <input type="submit" value="Add Coment" class="btn right">
            </form>
        </div>
        {% for comment in comments %}
        <div>
            <div class="left">
                <div class="comment-user valign-wrapper">
                    <i class="material-icons">account_circle</i>
                    <span> Faysal Ahmmad </span>
                </div>
                <div class="comment-body">
                    <p> {{comment.body}} </p>
                </div>
            </div>
            <div class="right">
                <div class=" col s10 offset-s2">
                    {% for comment in replies|get_item:comment.id %}
                    <div>
                        <div class="comment-user valign-wrapper">
                            <i class="material-icons">account_circle</i>
                            <span> Faysal Ahmmad </span>
                        </div>
                        <div class="comment-body">
                            {{ comment.body }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="child-comment col s10 right">
                        <form action="/article/replay/{{ comment.id }}/" method="POST">
                            {% csrf_token %}
                            {{ form_replay.body }}
                            <input type="submit" value="Replay" class="btn right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}